body {
    margin: 0;
    width: 100vw;
    height: 120vh;
}

.hero{
  width: 100%;
  height: 135vh;
  position: absolute;
  background-image: url(images/sky2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.ocean{
  width: 100%;
  height: 250px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.moon{
  width:400px;
  bottom: 250px;
  position: absolute;
}

.moody{
  width: 100px;
  bottom: 400px;
  left: 150px;
  position: absolute;
}

.water{
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  /* animation: water 10s linear infinite; */
}

.planet{
  width: 200px;
  bottom: 600px;
  right: 150px;
  position: absolute;
}

.BTS1{
  width: 200px;
  bottom: 645px;
  right: 150px;
  position: absolute;
}

.rock{
  width: 200px;
  bottom: 230px;
  right: 150px;
  position: absolute;
}

.flag{
  width: 150px;
  bottom: 270px;
  right: 90px;
  position: absolute;
}

@keyframes water {
  0%{
    transform: translateX(0);
  }

  100%{
    transform: translateX(1000px);
  }
}

.ship{
  width: 400px;
  position: absolute;
  bottom: 230px;
  left: 10%;
  transform: translate(-50%);
  animation: ship 2s linear infinite;
}

.ship img{
  width: 100%;
  -webkit-box-reflect: below 0 linear-
  gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.5));
}

@keyframes ship {
  0%{
    transform: rotate(0deg)translateY(0);
  }
  25%{
    transform: rotate(-1deg)translateY(-3px);
  }
  50%{
    transform: rotate(0deg)translateY(-5px);
  }
  75%{
    transform: rotate(0deg)translateY(-3px);
  }
  100%{
    transform: rotate(1deg)translateY(0);
  }
}

.boat{
  width: 450px;
  position: absolute;
  bottom: -100px;
  left: 60%;
  transform: translateX(-50%);
  animation: boat 3s linear infinite;
}

.boat img{
  width: 100%;
  -webkit-box-reflect: below -75% linear-
  gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.5));
}

@keyframes boat {
  0%{
    transform: rotate(1deg)translateY(0);
  }
  25%{
    transform: rotate(-1deg)translateY(-3px);
  }
  50%{
    transform: rotate(10deg)translateY(-8px);
  }
  75%{
    transform: rotate(20deg)translateY(-3px);
  }
  100%{
    transform: rotate(1deg)translateY(0);
  }

}

h1{
  color : #FAEDF0;
  text-align : center;
  position: relative;
}

.poem{
  color : #FAEDF0;
  text-align : center;
  position: relative;
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
}

@media (max-width: 1028px){

  body{
    height: 1300px;
  }

  .hero{
    height: 1300px;
  }

  .poem0{
    position: relative;
    top: 10px;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
  }

  .poem1{
    position: relative;
    top: 70px;
  }

  .poem2{
    position: relative;
    top: 130px;
  }

  .poem3{
    position: relative;
    top: 130px;
  }

  .poem4{
    position: relative;
    top: 200px;
  }

  .poem5{
    position: relative;
    top: 250px;
  }

  .moon{
    width:170px;
    bottom: 487px;
    left: 55px;
    position: absolute;
  }

  .moody{
    width: 50px;
    bottom: 540px;
    left: 110px;
    position: absolute;
  }

  .planet{
    width: 130px;
    bottom: 790px;
    right: 180px;
    position: absolute;
  }

  .BTS1{
    width: 150px;
    bottom: 812px;
    right: 170px;
    position: absolute;
  }

  .ocean{
    height: 500px;
  }

  .rock{
    width: 130px;
    bottom: 480px;
    right: 170px;
    position: absolute;
  }

  .flag{
    width: 100px;
    bottom: 500px;
    right: 110px;
    position: absolute;
  }


  .boat{
    width: 450px;
    position: absolute;
    bottom: -140px;
    left: 10%;
    transform: translateX(-50%);
    animation: boat 3s linear infinite;
  }


}
